Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
-e git+https://github.com/joeyabouharb/term2-challenges@052c8e2f077a2558ea34a35ca9ae5f6116aa05dd#egg=minitorrent&subdirectory=week4/minitorrent
python-engineio==3.9.3
python-socketio==4.3.1
six==1.12.0
Werkzeug==0.15.6
